* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}


/* header attributes */

header {
    width: 100%;
    height: 100px;
    background-color: #3161E0;
    text-align: center;
    position: relative;
    z-index: 999;
    position: fixed;
}

header .logo-container {
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 200px;
}

nav {
    display: inline-block;
    line-height: 65px;
}

nav ul li {
    display: inline-block;
    padding: 16px 20px 16px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

#accedi {
    position: absolute;
    top: 30px;
    right: 200px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* / header attributes */


/* main */ 

/* first section attributes */

.first-section {
    padding-top: 100px;
}

.background-container.text {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.background-container.text img {
    width: 100%;
    height: 100%;
}

.background-container.text h1 {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    color: white;
}

.background-container.text p {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: 30px;
    color: white;
    text-indent: 30px;
    font-weight: 600;
}

.background-container.text button.first {
    padding: 20px 30px;
    background-color: white;
    border: 1px solid white;
    position: absolute;
    top: 51%;
    left: 41%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
}

.background-container.text button.first #arrow {
    font-weight: 900;
    padding-right: 5px;

}

.background-container.text button.second {
    padding: 20px 30px;
    color: white;
    background-color: black;
    border: 1px solid black;
    position: absolute;
    top: 51%;
    left: 56%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
}

/* / first section attributes */


/* second section attributes */

.second-section {
    width: 100%;
    height: 660px;
    position: relative;
}

.second-section .item1 {
    position: absolute;
    top: 20%;
    left: 17%;
}

.second-section .title-text {
    position: absolute;
    top: 27%;
    left: 60%;
}

.second-section .title-text h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.second-section .title-text p {
    font-size: 25px;
    line-height: 35px;
}

/* / second section attributes */


/* third section attributes */

.third-section {
    width: 100%;
    height: 650px;
    margin-top: 200px;
    position: relative;
}

.third-section .item2 {
    position: absolute;
    top: 27%;
    left: 46%;
}

.third-section .title-text {
    position: absolute;
    top: 20%;
    left: 17%;
}

.third-section .title-text h1 {
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 20px;
}

.third-section .title-text p {
    font-size: 25px;
    line-height: 35px;
}

/* / third section attributes */


/* fourth section attributes */

.fourth-section {
    width: 100%;
    height: 650px;
    margin-top: 200px;
    position: relative;
}

.fourth-section .item3 {
    position: absolute;
    top: 20%;
    left: 17%;
}

.fourth-section .title-text {
    position: absolute;
    top: 27%;
    left: 60%;
}

.fourth-section .title-text h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.fourth-section .title-text p {
    font-size: 25px;
    line-height: 35px;
}

/* / fourth section attributes */


/* fifth section attributes */

.fifth-section {
    width: 100%;
    height: 1100px;
    margin-top: 200px;
}

.fifth-section .title-text {
    text-align: center;
}

.fifth-section .title-text h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.fifth-section .title-text p {
    font-size: 23px;
    line-height: 35px;
}

.fifth-section .item4 {
    width: 100%;
    height: 650px;
    position: relative;
}

.fifth-section .item4 .last-item {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item4 .last-item img {
    width: 100%;
    height: 100%;
}

.fifth-section .bottom-text {
    width: 100%;
    height: 12%;
    position: relative;
    text-align: center;
    margin-top: 30px;
}


.fifth-section .bottom-text h2 {
    padding-left: 740px;
    font-size: 26px;
    position: absolute;
    top: 40px;
    text-align: center;
}

.last-button-container {
    position: relative;
}

.fifth-section .last-button {
    padding: 15px 30px;
    background-color: #8EA1E1;
    border: 1px solid white;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* / fifth section attributes */

/* main */ 



/* footer */

/* footer container */

footer {
    width: 100%;
    height: 750px;
    background-color: #23272A;
}

.footer-container {
    width: 80%;
    height: 70%;
    margin: auto;
    border-bottom: 1px solid #8EA1E1;
}

/* / footer container */


/* footer, first section */

.footer-1section {
    padding: 50px 10px 0 0;
    display: inline-block;
}

.footer-1section h3 {
    color: #8EA1E1;
    font-size: 30px;
}

.footer-1section .flag-italiano-cont a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding-bottom: 10px;
}

.footer-1section .flag-italiano-cont .flag-container {
    width: 30px;
    height: 20px;
    margin-top: 20px;
    display: inline-block;
}

.footer-1section .flag-italiano-cont .italiano {
    display: inline-block;
    vertical-align: super;
}

.footer-1section .flag-container img {
    width: 100%;
    height: 100%; 
}

.footer-1section .flag-italiano-cont .italiano #it-arrow {
    font-size: 40px;
    color: white;
    vertical-align: super;
    position: relative;
    bottom: 5px;
}

.footer-1section .icons {
    padding-top: 20px;
}

.footer-1section .icons i {
    padding-right: 15px;
    color: white;
}

/* / footer, first section */


/* footer, second section */

.footer-2section {
    display: inline-block;
    padding-left: 200px;
    
}

.footer-2section .ul-container {
    display: inline-block;
}

.footer-2section .ul-container .footer-ul {
    list-style-type: none;
    padding-left: 100px;
}

.footer-2section .ul-container .footer-ul li {
    line-height: 25px;
    color: white;
}

.footer-2section .ul-container .footer-ul li:first-child {
    line-height: 25px;
    color: #8EA1E1;
}

.footer-2section .ul-container.long .footer-ul.long {
    position: relative;
    top: 145px;
}

/* / footer, second section */


/* logo and button */

.under-footer {
    position: relative;
}

.discord2 {
    padding-top: 20px;
    padding-left: 180px;
    display: inline-block;
}

.button {
    display: inline-block;
    margin-left: 80%;
}

#sign-in {
    font-size: 15px;
    color: white;
    background-color: #8EA1E1;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 1600px;
    bottom: 14px;
}

/* / logo and button */

/* / footer */